.env

.mypy_cache/
.vscode/
venv/
__pycache__/
experimentingwithmessage.py
HtmlDecoration
MarkdownV2
markupHTML
message_editorbot.py
parse.mode.inamessage
parse.mode.intheobject
pyproject.toml
red_bot.py
users.csv
